Checks: >
  cppcoreguidelines-*,
  clang-analyzer-*,
  modernize-*,
  readability-*,
  performance-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -performance-no-int-to-ptr,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-function-size,
  -readability-qualified-auto,
  -readability-math-missing-parentheses,
  -readability-simplify-boolean-expr,
  -readability-make-member-function-const,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  -modernize-deprecated-headers,
WarningsAsErrors: >
